::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #011627;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #011627;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #011627;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #011627;
}

.mainFeedback {
  font-family: "Roboto", sans-serif;
  background: rgb(255, 159, 28);
  background: linear-gradient(
    180deg,
    rgba(255, 159, 28, 1) 0%,
    rgba(231, 29, 54, 1) 100%
  );
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header button"
    ". . nav"
    "form form form"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 26%;
  grid-template-rows: 10vh 10vh 1fr 10vh;
}

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__fieldset {
    width: 75%;
    margin-bottom: 12%;
    border: solid 3px #370617;
  }
  &__legend {
    font-family: "Permanent Marker", cursive;
    font-size: 24px;
    color: #e71d36;
    text-shadow: 2px 2px 0#011627;
  }
  &__label {
    display: block;
  }

  &__item {
    display: block;
    border: solid 2px #370617;
    border-radius: 5px;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
