.mainGallery {
  background: rgb(255, 159, 28);
  background: linear-gradient(
    180deg,
    rgba(255, 159, 28, 1) 0%,
    rgba(231, 29, 54, 1) 100%
  );
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header button button"
    ". . . nav nav"
    ". photo photo photo ."
    "footer footer footer footer footer";
  grid-template-columns: 5% 1px 2fr 21% 5%;
  grid-template-rows: 10vh 10vh 1fr 10%;

  &__photos {
    grid-area: photo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__photo {
    margin-bottom: 32px;
    width: 100%;
    height: 40vh;
    border-radius: 5%;
    border: solid 3px #370617;
    &:last-child {
      margin-bottom: 90px;
    }
    &:first-child {
      margin-top: 16px;
    }
    &--1 {
      background-image: url(/src/assets/img/photo-1.jpg);
      background-position: center center;
      background-size: cover;
    }
    &--2 {
      background-image: url(/src/assets/img/photo-2.jpg);
      background-position: center center;
      background-size: cover;
    }
    &--3 {
      background-image: url(/src/assets/img/photo-3.jpg);
      background-position: center center;
      background-size: cover;
    }
    &--4 {
      background-image: url(/src/assets/img/photo-4.jpg);
      background-position: center center;
      background-size: cover;
    }
    &--5 {
      background-image: url(/src/assets/img/photo-5.jpg);
      background-position: center center;
      background-size: cover;
    }
    &--6 {
      background-image: url(/src/assets/img/photo-6.jpg);
      background-position: center center;
      background-size: cover;
    }
    &--7 {
      background-image: url(/src/assets/img/photo-7.jpg);
      background-position: center center;
      background-size: cover;
    }
    &--8 {
      background-image: url(/src/assets/img/photo-8.jpg);
      background-position: center center;
      background-size: cover;
    }
    &--9 {
      background-image: url(/src/assets/img/photo-9.jpg);
      background-position: center center;
      background-size: cover;
    }
  }
}
