.main {
    background: rgb(255, 159, 28);
    background: linear-gradient(
      180deg,
      rgba(255, 159, 28, 1) 0%,
      rgba(231, 29, 54, 1) 100%
    );
    min-height: 100vh;
    display: grid;
    grid-template-areas:
      "header header button"
      ". . nav"
      ". . ."
      ". greetings ."
      ". . ."
      "footer footer footer";
    grid-template-columns: 1fr 1fr 26%;
    grid-template-rows: 10% 10% 1fr 30% 1fr 10%;
    &__header {
      grid-area: header;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Permanent Marker", cursive;
      font-size: 42px;
      color: #e71d36;
      text-shadow: 2px 2px 0#011627;
    }
  }
  
  .greetings {
      grid-area: greetings;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__text {
        font-family: "Permanent Marker", cursive;
        font-size: 35px;
        color: #e71d36;
        text-shadow: 2px 2px 0#011627;
        transition: ease-in-out 0.5s;
      }
      &__text:hover {
        color: #011627;
        text-shadow: 2px 2px 0#e71d36;
      }
    }